<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sport_adults</title>
</head>
<body>
    <h1 align="center">{{ title_h1 }}</h1>
    <ul>
        {% for menu_adults in menu_adults_list %}
        <li>
            <b>{{ menu_adults }}</b>
            <button style="padding: 10px">КУПИТЬ АБОНЕМЕНТ</button>
        </li>
        <br>
        {% endfor %}
    </ul>
    <button style="padding: 15px">
        <a href="{{ main_page }}" style="color: black; text-decoration: none; font-weight: bold">
            ВЕРНУТЬСЯ<br> ОБРАТНО
        </a>
    </button>
</body>
</html>
